
*
{
	font-family:'Quicksand', sans-serif;
}

.title-header
{
	/*background:rgba(0,0,0,0.01);*/
}

.title-header img
{
	width:100%;
	height:100%;
	object-fit:cover;
}

button
{
	outline:0;
	border-radius:4px;
	background:#29AB87;color:#fff; 
	font-size:0.9em;
	padding-top:6px;
	padding-bottom:6px;
	border:1px solid rgba(0,0,0,0.09);
}

a
{
	color:unset;
	outline:0;
}

.title-header a:hover
{
	text-decoration:none;
}

.title
{
	font-size:1.2em;
}

.link a
{
	color:unset;
	text-decoration: none;
}

.loader
{
	position:relative;
	top:-5px;
	border-radius:2px;
	padding:7px 0;
	border:1px solid rgba(0,0,0,0.05);
	width:80%;
	background:transparent;
}

.loaded
{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:0%;
	background:#29AB87;
	transition:all 0.5s ease-in;
}

button .loader
{
	width:15px;
	height:15px;
	border-radius:50%;
	border:1px solid #fff;
	background:transparent;
	border-right-color:transparent;
	animation:rotate 1s both infinite linear;
}


@keyframes rotate
{
	from
	{
		transform:rotate(0deg);
	}	
	to
	{
		transform:rotate(360deg);
	}
}

img
{
	border-radius:4px;
}

label p
{
	position:relative;
	top:-2px !important;
	font-size:1.1em;
}


@media(max-width:576px)
{
	.loader
	{
		position:relative;
		left:10%;
		width:80%;
	}
}