<!DOCTYPE html>
<html>
	<head>
		<title>Pluto - Login</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Login/login.css') }}">
	</head>
	<body>
		
		<div class='container-fluid p-0'>
			<div class='row no-gutters' style='height:100%'>
				
				<div class='col-6' style='background:rgba(0,0,0,0.006)'>
					leke
				</div>

				<div class='col-6 p-0 img-backdrop'>
					<img src="{{ url_for('static', filename='images/Login/gravel.png') }}">
				</div>
			</div>
		</div>
	</body>
</html>