<!DOCTYPE html>
<html>
	<head>
		<title>Pluto - Signup</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Signup/signup.css') }}">
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}">
    	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>
		
		<div class='container-fluid' id='container' style='background:#3DDAD7;'>
			
			<div class='form-container d-flex flex-column justify-content-center align-items-center'>
				
				<form method='POST' action="{{ url_for('auth.signup') }}" class='d-flex flex-column p-4'>
					<p class='m-0 mb-3 brand text-center w-100'><a href="{{ url_for('index') }}">Pluto</a></p>
					<div class='mb-3'>
						<input type="text" name="name" class='form-control form-control-sm py-1 eightchars' placeholder='Name'>
					</div>
					<div class='mb-3'>
						<input type="text" name="dev_name" class='form-control form-control-sm dev' placeholder="Dev Nickname">
					</div>
					<div class='mb-3'>
						<input type="email" name="email" class='form-control form-control-sm email' placeholder="Email">
					</div>
					<div class='mb-3' style='position:relative;'>
						<input type="password" name="password" class='form-control form-control-sm eightchars' placeholder="Password">
						<i class='fa fa-eye toggle'></i>
					</div>
					<button type='submit' class='py-2 mb-3'>Signup</button>
					<p class='text-muted text-center w-100 login-text'>Already have an account?, <a href="{{ url_for('auth.login') }}" class='text-muted'>login</a></p>
				</form>
			</div>
		</div>

		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/Signup/signup.js') }}"></script>
		<script type="text/javascript">
			particlesJS('container', {
			    "particles":{"number":{"value":100,},"opacity":{"value":"0.5",},"size":{"value":"5",},"move":{"bounce":true
			        }
			    },"interactivity":{"events":{"onhover":{"mode":"grab"}}}
			});
		</script>
		<script type="text/javascript">
			
			{% for category, message in get_flashed_messages(with_categories=true) %}

				toastr.{{ category }}("{{ message }}")
			{% endfor %}
		</script>
	</body>
</html>