{% extends 'layouts/app.html' %}

{% block title %} Edit {{ project.name }} {% endblock %}

{% block css %} 
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Projects/new.css') }}">
 {% endblock %}

{% block body %}

	<div class="px-5 py-3 row d-flex justify-content-center justify-content-lg-start">
	
		<div class='offset-lg-2'></div>
		<div class='col-sm-10 col-md-8 col-lg-6 d-flex flex-column'>
			<p class='heading m-0 m-0 mt-1 mt-sm-2 mb-2'>Edit {{ project.name }}</p>
			<span class='text-muted sub-heading mb-4'>* tweak to your heart's delight</span>

			<form method='POST' action="{{ url_for('projects.edit', id=project.id) }}" class='edit-form' enctype='multipart/form-data'>
				<div class='form-group'>
					<label for='name' class='text-muted'>Name</label>
					<input type="text" name="name" id='name' class='form-control form-control-sm elements' value="{{ project.name }}">
					<p class='text-muted m-0 mt-2 sub-text'>explore the whole gamut here, be creative</p>
				</div>
				<div class='form-group'>
					<div class='d-flex align-items-end img-container'>
						<div class='image-parent mr-3' style='position:relative;'>
							<img src="#" class='project-img'>
						</div>
						<input type="file" name="image" id='fileInput' style='display:none'>
						<button style='background:#EDFAFD;' class='px-2 upload' type='button'>Change Image</button>
					</div>
				</div>
				<div class='form-group'>
					<label for='about' class='text-muted'>About</label>
					<textarea class='form-control elements' name='about' rows='4' id='about'>{{ project.about }}</textarea>
					<p class='text-muted m-0 mt-2 sub-text'>a short description of the project</p>
				</div>
				<div class='form-group'>
					<label for='link' class='text-muted'>github repo (optional)</label>

					{% if project.github_link == None %}
						<input type="text" name="github_link" class='form-control form-control-sm'>
					{% else %}
						<input type="text" name="github_link" class='form-control form-control-sm' value="{{ project.github_link }}">
					{% endif %}
				</div>
				<div class='form-group'>
					<button type='submit' class='create px-2 py-2'>Update Project</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}


{% block js %} 
	<script type="text/javascript" src="{{ url_for('static', filename='js/Projects/edit.js') }}"></script>
{% endblock %}