<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/Material/material-scrolltop.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Layouts/app.css') }}">
		{% block css %} {% endblock %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>

		<div class='container-fluid p-0'>
			<div class='row'>
				<div class='col-lg-2 d-none d-lg-block sidebar pt-5 d-lg-flex flex-column justify-content-between'>
					
					<ul class='list-unstyled text-white menu w-100'>
						<li class='d-flex flex-column align-items-center mb-4'>

							{% if g.user.avatar is none %}
								<img src="{{ g.URL }}static/images/Users/anon.png" class='mb-2' width='65px' height="65px" style='border-radius:50%'>
							{% else %}

								<img src="{{ g.URL }}static/images/Users/{{g.user.avatar}}" class='mb-2' width='65px' height="65px" style='border-radius:50%'>	
							{% endif %}
							
							<p class='mt-2 mb-1'>Hello {{ g.user.name.split(' ')[1] }} !</p>
							<p class='m-0 dev-name'>{{ g.user.dev_name }}</p>
						</li>

						<li class='py-2 mb-2 d-flex align-items-center px-3'>
							<a href="{{ url_for('index') }}"><i class='fa fa-dashboard mr-2'></i> Dashboard</a>
						</li>
						<li class='py-2 mb-2 d-flex align-items-center  px-3'>
							<a href="{{ url_for('projects.new') }}"><i class='fa fa-expand mr-3'></i>New Project</a>
						</li>
						<li class='py-2 mb-2 d-flex align-items-center  px-3'>
							<a href="{{ url_for('ideas.new') }}"><i class='fa fa-tint mr-3'></i> New Idea</a>
						</li>
						<li class='py-2 mb-2 d-flex align-items-center  px-3'>
							<a href="{{ url_for('projects.all') }}"><i class="fa fa-tasks mr-2"></i> Projects</a>
						</li>
						<li class='py-2 mb-2 d-flex align-items-center  px-3'>
							<a href="{{ url_for('ideas.all') }}"><i class='fa fa-bolt mr-3'></i> Ideas</a>
						</li>
					</ul>

					<ul class='list-unstyled text-white options w-100'>
						<li class='py-2 mb-2 d-flex align-items-center px-3'>
							<a href="#updateDetailsModal" data-toggle="modal"><i class='fa fa-refresh mr-2'></i> Update Details</a>
						</li>
						<li class='py-2 mb-2 d-flex align-items-center px-3'>
							<a href="{{ url_for('auth.logout') }}"><i class='fa fa-sign-out mr-2'></i> Logout</a>
						</li>
					</ul>

				</div>
				<div class='offset-2'></div>
				<div class='col-lg-10 d-flex flex-column p-0 main'>
					<nav class='py-3 px-4 px-sm-5 px-lg-4 w-100 d-flex justify-content-between'>
						<a href="{{ url_for('index') }}" class='navbar-brand mr-auto ml-2 ml-sm-0'>Pluto</a>
						<div class='mr-2 mr-sm-0 mr-lg-4 d-flex align-items-center'>
							<div class='navtoggle d-block d-lg-none'>
								<span></span>
							</div>
							<form method='GET' action='{{ url_for("search") }}'>
								<input type="search" name="term" class='form-control form-control-sm search-input d-none d-lg-block' placeholder='Search'>
							</form>
						</div>
					</nav>
					{% block body %}
						
					{% endblock %}
				</div>
			</div>

			<div class='responsive-sidebar d-flex flex-column pr-4 d-lg-none'>
				<ul class='list-unstyled mr-2 menu text-right text-white mb-2 mb-sm-4'>
					<li class='mb-4'>
						{% if g.user.avatar is none %}
								<img src="{{ g.URL }}static/images/Users/anon.png" class='mb-2' width='65px' height="65px" style='border-radius:50%'>
							{% else %}

								<img src="{{ g.URL }}static/images/Users/{{g.user.avatar}}" class='mb-2' width='65px' height="65px" style='border-radius:50%'>	
							{% endif %}
							
							<p class='mt-2 mb-1'>Hello {{ g.user.name.split(' ')[1] }} !</p>
							<p class='m-0 dev-name'>{{ g.user.dev_name }}</p>
					</li>
					<li class='py-2 mb-3'>
						<a href="{{ url_for('index') }}">Dashboard</a>
					</li>
					<li class='py-2 mb-3'>
						<a href="{{ url_for('projects.new') }}">New Project</a>
					</li>
					<li class='py-2 mb-3'>
						<a href="{{ url_for('ideas.new') }}">New Idea</a>
					</li>
					<li class='py-2 mb-3'>
						<a href="{{ url_for('projects.all') }}">Projects</a>
					</li>
					<li class='py-2 mb-3'>
						<a href="{{ url_for('ideas.all') }}">Ideas</a>
					</li>
				</ul>

				<ul class='list-unstyled text-white text-right'>
					<li class='py-1 mb-2 mr-2'>
						<a href="#updateDetailsModal" data-toggle="modal">Update Details</a>
					</li>
					<li class='py-2 mb-3 mr-2'>
						<a href="{{ url_for('auth.logout') }}">Logout</a>
					</li>
				</ul>
			</div>
		</div>

		<button class="material-scrolltop d-block d-sm-none" type="button"></button>


		<div class="modal fade" tabindex="-1" role="dialog" id='updateDetailsModal'>
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		       	Update your Pluto Details
		      </div>
		      <div class="modal-body px-3">
		      		
		      	<form action="{{ url_for('user.update') }}" method='POST' enctype="multipart/form-data">
		      		<div class='row'>
		      			<div class='form-group col-6'>
		      				<label for='name' class='text-muted	'>Name</label>
		      				<input type="text" name="name" value="{{ g.user.name }}" class='form-control form-control-sm elements'id='name'>
		      			</div>
		      			<div class='form-group col-6'>
		      				<label for='dev_name' class='text-muted'>Dev Name</label>
		      				<input type="text" name="dev_name" value="{{ g.user.dev_name }}" class='form-control form-control-sm elements' id='dev_name'>
		      			</div>
		      		</div>
		      		<div class='row'>
		      			<div class='form-group col-6'>
		      				<label for='password'>Password</label>
		      				<input type="password" name="password" class='form-control form-control-sm'>
		      			</div>
		      			<div class='form-group col-6 d-flex align-items-end d-flex'>
		      				<div class='image-parent mr-3'>
		      					<img src="#">
		      				</div>
		      				<button style='background:#EDFAFD;outline:none;border:1px solid rgba(0,0,0,0.06); font-size:0.8em;border-radius:4px;padding-top:5px; padding-bottom:5px;color:#000' type='button' class='upload'>Change Avatar</button>
		      				<input type="file" class='file-input' name="image" style='display:none'>
		      			</div>
		      		</div>
		      		<div class='row'>
		      			<div class='form-group col-6'>
		      				<button type='submit' class='update py-1'>Update</button>
		      			</div>
		      		</div>
		      		<input type="hidden" name="url" value='/' class='url'>
		      	</form>		      	
		      </div>
		      <div class="modal-footer">
		      	<button class='close-modal py-1 text-muted' style='background:#fff; font-family:"Quicksand", sans-serif; border:1px solid rgba(0,0,0,0.1)' data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/Layouts/app.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/Layouts/update.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/Material/material-scrolltop.js') }}"></script>		
		<script type="text/javascript" src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
		<script type="text/javascript">
			
			{% for category, message in get_flashed_messages(with_categories=true) %}

				toastr.{{ category }}("{{ message }}")
			{% endfor %}
		</script>
		{% block js %} {% endblock %}
	</body>
</html>