@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

.heading
{
	font-family:'Quicksand', sans-serif;
	color:rgba(0,0,0,0.6);
}


.project-name
{
	font-family:'Lexend Deca', sans-serif;
	font-size:1.1em;
}

.info
{
	font-family:'Quicksand', sans-serif;
}

.fa-check
{
	color:green;
}

a
{
	text-decoration: none;
	color:unset;
}

.projects-container a
{
	position:relative;
	top:0;
	transition:top 0.5s ease-out;
    -moz-transition:top 0.5s ease-out  /* Firefox 4 */
    -webkit-transition:top 0.5s ease-out; /* Safari and Chrome */
    -o-transition:top 0.5s ease-out; /* Otop 0.5s linearpera */
    -ms-transition:top 0.5s ease-out; /* Ex*/
}

.projects-container a:hover
{
	top:-5px;
}

a:hover
{
	text-decoration: none;
	color:unset;
}


