<!DOCTYPE html>
<html>
	<head>
		<title>Pluto</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}">
	</head>
	<body>
		Auth Logged In

		{{ leke }}

		<script type="text/javascript" src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>		
		<script type="text/javascript">
			
			{% for category, message in get_flashed_messages(with_categories=true) %}

				{% if category == 'success' %}
					toastr.error("{{ message }}")
				{% endif %}
			{% endfor %}
		</script>
	</body>
</html>