@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container-fluid
{
	background:rgba(0,0,0,0.006);
	min-height:100vh;
	overflow-x:hidden;
}

.sidebar
{
	min-height:100vh;
	background:#135589;
	position:fixed;
}

div.navtoggle
{
	position:relative;
	cursor:pointer;
	padding:10px 0;
	width:30px;
	z-index:9999;
}

div.navtoggle span, div.navtoggle span:after, div.navtoggle span:before
{
	position:absolute;
	width:100%;
	height:2px;
	background:rgba(0,0,0,0.4);
}

div.navtoggle span:after, div.navtoggle span:before
{
	top:-8px;
	left:0;
	content: '';
	background:rgba(0,0,0,0.4);
}

div.navtoggle span:before
{
	top:8px;
}


img
{
	object-fit:cover;
}

.sidebar
{
	font-family:'Quicksand', sans-serif;
}

.sidebar a
{
	color:#fff;
	text-decoration:none;
	outline:none;
}

.sidebar ul
{
	position:relative;
	left:15%;
	top:5%;
}


.sidebar i
{
	position:relative;
	top:-1px;
}

.sidebar li.active
{
	background:rgba(255 , 255, 255, 0.8);
	border-radius:5px;
}

.sidebar li.active a
{
	color:rgba(0,0,0,0.6);
}

.sidebar li.active i
{
	color:#000;
}

.dev-name
{
	color:rgba(255,255,255,0.4);
}

nav
{
	border-bottom:1px solid rgba(0,0,0,0.02);
}

.navbar-brand
{
	color:rgba(0,0,0,0.5);
	font-family:'Montserrat', sans-serif;
}


.search-input
{
	font-family:'Quicksand', sans-serif;
}


.modal-header
{
	font-family:'Quicksand', sans-serif;
}

.modal-body
{
	font-family:'Quicksand', sans-serif;
}

textarea
{
	resize:none;
}

.modal-body label
{
	font-size:0.9em;
}

.modal button
{
	cursor:pointer;
}

.modal .image-parent
{
	position:relative;
	width:50px;
	height:50px;
	border-radius:4px;
	display:none;
}

.modal .image-parent.active
{
	display:block;
}

.modal img
{	
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}

.modal button
{
	outline:none;
	cursor:pointer;
 	border-radius:4px;
	border:1px solid rgba(0,0,0,0.06);
}

button.update
{
	background:#29AB87;
	color:#fff;
	font-size:0.9em;
}

.modal .error-notif
{
	color:red;
	font-size:0.8em;
}


.responsive-sidebar
{
	position:fixed;
	top:0;
	height:100vh;
	left:100%;
	width:50%;
	padding-top:80px;
	z-index:1;
	background:rgba(0,0,0,0.5);
	border-left:1px solid rgba(0,0,0,0.2);
	transition:left 0.4s ease-in;
}

.responsive-sidebar.active
{
	left:50%;
}

.responsive-sidebar a
{
	color:unset;
	text-decoration:none;
	font-family:'Raleway', sans-serif;
}

.responsive-sidebar li.active a
{
	border-bottom:1px solid orange;
	padding-bottom:5px;
}


@media(max-width:991px)
{
	div.navtoggle span, div.navtoggle span:before, div.navtoggle span:after
	{
		display:block;
		transition:all 0.4s ease-in;
	}

	div.navtoggle.active span
	{
		background:none;
	}

	div.navtoggle.active span:before
	{
	    top:0;
	    transform:rotate(45deg);
	    background:#fff;
	}

	div.navtoggle.active span:after
	{
		top:0;
	    transform:rotate(-45deg);
	    background:#fff;
	}
}


@media(max-width:576px) 
{
	.responsive-sidebar
	{
		padding-top:70px;
		width:70%;
		/*background:rgba(0,0,0,0.);*/
	}

	.responsive-sidebar.active
	{
		left:30%;
	}
}
