
.ideas-container a
{
	color:unset;
	text-decoration:none;
	border-radius:4px;
	font-family:'Quicksand', sans-serif;
}

.ideas-container a:hover .name
{
	text-transform: uppercase;
}

.ideas-container .premise
{
	font-size:0.9em;
}

.ideas-container .name
{
	text-transform:lowercase;
	font-size:1.1em;
	transition:all 0.8s ease-out;
}

.no-idea
{
	min-height:calc(100vh - 73px)
}

.no-idea div
{
	position:relative;
	top:23.5vh;
}

.no-idea p
{
	font-family:'Quicksand', sans-serif;
	font-size:1.15em;
}
